body{
	overflow-x: hidden;
	background: url('img/middle.png') repeat top left;
}

.horizon{
	width: 3500px;
    filter: brightness(50%);
}

.middle{
	top: 50px;
}

.front{
    width: 10000px;
}

.scroll{
	position: fixed;
	top : 40px;
	bottom: 0;
	left: 0;
}

.home{
    left :40px;
    top: 40px;
    width: 1500px;
}

.definition{
    top:50px;
    width:1300px;
    left: 80px;
}

.timeline{
    top:80px;
    width:1200px;
    left: 250px;
}

.argument{
    top: 0px;
    left:800px;
    width:550px;
}

.argument2{
    top: 70px;
    left: 800px;
    width: 550px; 
}

.linkPdf{
    position: relative;
    top: 70px;
    left:800px;
    width: 500px;
}

.scientific{
    top:100px;
    position: absolute;
}

.media{
    top:200px;
    position: absolute;
}

.society{
    top: 300px;
    position: absolute;
}

.law{
    top: 400px;
    position: absolute;
}
.legend{
    top: 115px;
    width:420px;
    left: 900px;
    background-color: rgba(200,200,200,0.5);
}

.actors{
    position: relative;
    width:1150px;
    left :900px;
}

.actors1{
    position: absolute;
    top: 80px;
    z-index: 1;
    background-color: rgba(200,200,200,0.5);


}

.actors1:active{ z-index: -1 }

.actors2{
    position: absolute;
    top: 80px;
    z-index: 0;
    background-color: rgba(200,200,200,0.5);

}

.debate{

    position: relative;
    width:730px;
    left:1050px;
    height: 50%;
}

.debateCenter{
    position: absolute;
    width: 45%;
    left: 215px;
    top: 270px;

}

.debateMiddle{
    position: absolute;
    width: 62%;
    left:153px;
    top: 210px;
    animation-name: rotateMiddle;
    animation-duration: 8.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;

}
 
@keyframes rotateMiddle{
     0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}



.debateExtern{
    position: absolute;
    animation-name: rotateExtern;
    animation-duration: 8.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;   
}


@keyframes rotateExtern {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.tree{
    position: absolute;
    left:800px;
    width:110%;
    top:40px;
}
.interviews{
    width: 1300px;
    left: 2000px;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: solid gray;
}


h2{
	text-align: center;
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    background-color: none;
}

@font-face{
	font-family: 'Source Sans Pro', sans-serif;
	src: url(https://fonts.google.com/specimen/Source+Sans+Pro);
}



p{
	font-size: 25px;
    color: white;
    top: 150px;
    text-shadow: 1px 1px black;
}

nav{
	font-family: "Source Sans Pro", Source, serif;
	font-size: 20px;
	font-weight: bold;
}

button{
    background-color: rgba(200,200,200,0.4);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    text-shadow: 1px 1px black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}